<h3>Students</h3>
<% students.each do |student| %>
  <h4><%= link_to(student.name, student) %></h4>
  <h6>Teacher: <%= link_to(student.teacher.name, student.teacher) %></h6>
  <h6>School: <%= link_to(student.teacher.school.name, student.teacher.school) %></h6>
<% end %>
