<h2 class="center white">Edit User</h2>

<%= render 'form', user: @user %>

<div class="center"><%= link_to 'Show', @user, class:'button back-white' %></div>
<div class="center"><%= link_to 'Back', users_path, class:'button back-white' %></div>
