<h3 class="center">Teachers</h3>
<% teachers.each do |teacher| %>
  <row>
    <div class="six columns center teacher-row"><%= link_to(teacher.name, teacher, class:"button button-primary") %></div>
    <div class="six columns center teacher-row school"><%= link_to(teacher.school.name, teacher.school, class:"button back-white") %></div>
  </row>
<% end %>
