<h3 class="white center">Teacher:</h3>
<div class="center"><%= link_to(teacher.name, teacher, class:"button button-primary") %></div>

<h4 class="white center">Students:</h4>
<% teacher.students.each do |student| %>
  <div class="center"><%= link_to(student.name, student, class:"button back-white") %></div>
<% end %>

<div class="white center">Back to School:</div>
<div class="center"><%= link_to(teacher.school.name, teacher.school, class:"button button-primary") %></div>
