<h3 class="center">Courses</h3>
<% courses.each do |course| %>
  <row>
    <div class="six columns center teacher-row"><%= link_to(course.name, course, class:"button button-primary") %></div>
    <div class="six columns center teacher-row school"><%= link_to(course.school.name, course.school, class:"button back-white") %></div>
  </row>
<% end %>
