<h3 class="white center">Course:</h3>
<div class="center"><%= link_to(course.name, course, class:"button button-primary") %></div>

<h5 class= "white center">School:</h5>
<div class="center"><%= link_to(course.school.name, course.school, class:"button back-white") %></div>
