<h3 class="white center">Course:</h3>
<div class="center"><%= link_to(course.name, course, class:"button button-primary") %></div>

<h5 class= "white center">School:</h5>
<div class="center"><%= link_to(course.school.name, course.school, class:"button back-white") %></div>

<div class='changes'>
  <div class="center"><%= link_to 'Edit Course', edit_course_path(course), class:"button back-white" %></div>
  <div class="center"><%= link_to 'Destroy Course', course, method: :DELETE, data: { confirm: 'Are you sure?' }, class:"button back-white" %></div>
</div>
